.main__chat
  .main__chat__group   
    .main__chat__group__form
      %h2.main__chat__group__name
        = @group.name
      %ul.main__chat__group__menber
        %p Menber:
        %li.main__chat__group__menber__list
        - @group.users.each do |g|
          = g.name
    .main__chat__edit-btn
      = link_to edit_group_path(@group) do
        Edit
  .main__chat__message__board      
    = render @messages
  .main__chat__text__box
    .text
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'text__area', placeholder: 'タイプしてやーー'
        .text__icon            
          = f.label :image, class: 'input__icon' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'input__image'
        = f.submit 'Send', class: 'text__send-btn'